<html>
	<body style="background-color: #c0c0c0;">		
		<center>
		<table style="background-color: #ffffff;"">
			<tr>
				<td>
					<img src="http://vivatjes.us/images/k_of_c_logo.png" width="200">
				</td>
				<td>
					<p>Hi <%=@user.username rescue ""%>,</p>
					
					<p>To reset your VivatJes.us password click the URL below:</p>
					<p>http://vivatjes.us/password_resets/<%= @user.password_reset_token %>/edit</p>
					<p>If you did not request your password to be reset please ignore this email and your password will stay as it is.</p>

					<p>Vivat Jesus!<br />
					KofC</p>
				</td>
			</tr>
		</table>
		</center>
		
	</body>
</html>
