<div class="hero-unit">
<h1>Account Linked to Facebook</h1><br />
<p>
	Your VivatJesus status updates will now be updated for you on Facebook.  
	You can deauthorize Facebook at any time by Editing your Profile again.
</p>
<p><%= link_to(raw('&larr; Back to Activity'), '/activity') %></p>
<p><center><%= image_tag "/images/fblogo.jpg"%> </center></p>
</div>