<div class="hero-unit">
<!img src="/images/k_of_c_logo300.png" width="300" align="right">
<%= image_tag("k_of_c_logo300.png", :align=>"right")%>

<h1>New User Registration</h1><br />

<%= render 'form' %>

</div>