<div class="hero-unit">
<h1>Account Linked to Twitter</h1><br />
<p>
	Your VivatJesus status updates will now be tweeted for you on Twitter.  
	You can deauthorize Twitter at any time by Editing your Profile again.
</p>
<p><%= link_to(raw('&larr; Back to Activity'), '/activity') %></p>
<p><center><%= image_tag "/images/twitter_newbird_blue.png"%> </center></p>
</div>