<div class="hero-unit">
<h1>About VivatJes.us!</h1><br />
<p>
	The <%= link_to "Knights of Columbus", "http://kofc.org"%> is the world's largest Catholic fraternal service organization. It was founded by the Venerable Father Michael J. McGivney in New Haven, Connecticut in 1882, and named in honor of Christopher Columbus. Originally serving as a mutual benefit society to low-income immigrant Catholics, it developed into a fraternal service organization dedicated to providing charitable services, promoting Catholic education and actively defending Catholicism in various nations. There are more than 1.8 million members in 15,000 councils, with nearly 200 councils on college campuses. 
</p>
<p>	
	VivatJes.us, meaning Jesus Lives!, is developed by <a href="http://twitter.com/chrismatthieu">Chris Matthieu</a>, a Fourth Degree Knight and Officer in Council 10062.  The mission of this site is to provide free hosting to councils and in the process create a social network for fellow Knights to achieve their goals.
</p><br />
<p><a class="btn btn-primary btn-large" href="/join">Join Us! &raquo;</a></p>

</div>