<!-- <p>
<iframe name="I11" src="http://www.radioindy.com/rss2html/rss2html.php?XMLFILE=http://10062.posterous.com/rss.xml&TEMPLATE=http://www.radioindy.com/rss2html/sample-templateDESC.html&MAXITEMS=25" target="_blank" width="595" height="832">
Your browser does not support inline frames or is currently configured not to display inline frames.
</iframe></p> -->

<iframe name="I11" src="<%=@council.posterousurl%>" width="900" height="10000">
	Your browser does not support inline frames or is currently configured not to display inline frames.
</iframe>
