<div class="hero-unit">
<h1>Now Accepting Online Payments</h1>
<br />
<img src="/images/logo-paypal.jpg" align="right" width="250">
<p>
	<% if @current_user %>
		<% @councilnumber = @current_user.council.councilnumber %>
	<% elsif @council %>
		<% @councilnumber = @council.councilnumber %>
	<% else %>
		<% @councilnumber = "" %>
	<% end %>
	
	The Knights of Columbus council <%= @councilnumber %> is now accepting payments online for raffle tickets, sponsor donations, annual dues, etc.   
</p>

<p>
	<ul>
		<li>
			Coming soon...
		</li>
		<!-- <li>
					<a href="/raffle">Raffle</a>
				</li> -->
		<!-- <li>
			<a href="/dues">Annual Dues</a>
		</li> -->
	</ul>
</p>
<br /><br /><br /><br /><br /><br />
</div>