<h1>Now Accepting Online Payments</h1>

<p>
	<img src="/images/logo-paypal.jpg" align="right" width="300">
	The Knights of Columbus council 10062 is now accepting payments online for raffle tickets, sponsor donations, annual dues, etc.  Please 
</p>

<p>
	<ul>
		<li>
			<a href="/raffle">Raffle</a>
		</li>
		<!-- <li>
			<a href="/dues">Annual Dues</a>
		</li> -->
	</ul>
</p>

<br /><br /><br />