<h1>Arizona State Knights of Columbus Charity Raffle</h1>

<p>
	The Knights of Columbus council 10062 are selling raffle tickets online!  
	You may choose between a book of five $5 tickets for $20 and receive an extra ticket or six books of tickets for $100 and receive ten extra tickets.
</p>

<p>
	<img src="http://alannaheames.files.wordpress.com/2011/10/st-petersburg.jpg" width="500" align="right">
	The 1st prize is a marvelous 7 night cruise to the Baltic Capitals, plus St. Petersburg; 2nd prize takes you on a 7 night Mediterranean Cruise; 
	3rd prize winner goes to Alaska.  The 4th through 10th prizes are cash ranging from $2,500 down to $50.
</p>

<p>
	Half the proceeds go to the local Corpus Christi St Vincent de Paul
	society. The funds received are used to help many families in need during
	the hot summer months.
	The other half goes to the Arizona State Knights of Columbus. The funds
	get distributed to many charitable organizations such as the Arizona State
	St. Vincent de Paul, support for our bishops and seminarians, and other
	worthy causes. A small portion of the funds goes to cover the costs to run
	the raffle. 
</p>
<p>
		The deadline for purchasing these tickets is <b>May 14, 2012</b>.
</p>

<p>
	<table border="1">
		<tr>
			<td><b>One book of five $5 raffle tickets for $20 [1 extra ticket]</b></td>
			<td>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="UADAFS24Q6M9Y">
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
			</td>
		</tr>
		<tr>
			<td><b>Six books of raffle tickets for $100 [ten extra tickets]</b></td>
			<td>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="JPYGRLBLN4QSE">
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
			</td>
		</tr>
	</table>
	
	
</p>