<h1>Purchase Raffle Tickets</h1>

<p>
	The Knights of Columbus council 10062 are selling raffle tickets online!  
	You may choose between a book of five $5 tickets for $20 and receive an extra ticket or six books of tickets for $100 and receive ten extra tickets.
</p>

<p>
	<table border="1">
		<tr>
			<td><b>One book of five $5 raffle tickets for $20 [1 extra ticket]</b></td>
			<td>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="UADAFS24Q6M9Y">
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
			</td>
		</tr>
		<tr>
			<td><b>Six books of raffle tickets for $100 [ten extra tickets]</b></td>
			<td>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="JPYGRLBLN4QSE">
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
			</td>
		</tr>
	</table>
	
	
</p>